aiofiles==0.6.0
aiohttp-swagger==1.0.15; python_version >= "3.5"
aiohttp==3.7.2; python_version >= "3.6"
async-lru==1.0.2; python_version >= "3.5"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
asyncssh==2.5.0; python_version >= "3.6"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
bcrypt==3.2.0; python_version >= "3.6"
cffi==1.14.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
chardet==3.0.4; python_version >= "3.6"
cryptography==3.3.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
dill==0.3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.1.0" and python_version >= "3.5"
distro==1.5.0; python_version >= "3.5"
future==0.18.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.3.0"
genie.libs.clean==21.3; python_version >= "3.5"
genie.libs.conf==21.3; python_version >= "3.5"
genie.libs.filetransferutils==21.3; python_version >= "3.5"
genie.libs.health==21.3; python_version >= "3.5"
genie.libs.ops==21.3; python_version >= "3.5"
genie.libs.parser==21.3; python_version >= "3.5"
genie.libs.sdk==21.3; python_version >= "3.5"
genie==21.3.1; python_version >= "3.5"
idna==3.1; python_version >= "3.6"
jinja2==2.11.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
jsonpickle==2.0.0; python_version >= "3.5"
junit-xml==1.9; python_version >= "3.5"
lxml==4.6.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
markupsafe==1.1.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
multidict==5.1.0; python_version >= "3.6"
ncclient==0.6.10; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
netaddr==0.8.0; python_version >= "3.5"
netmiko==3.3.3
ntc-templates==2.0.0; python_version >= "3.6" and python_version < "4.0"
paramiko==2.7.2; python_version >= "3.6" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0")
pathspec==0.8.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
prettytable==2.1.0; python_version >= "3.6"
psutil==5.8.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
pyats.aereport==21.3; python_version >= "3.5"
pyats.aetest==21.3; python_version >= "3.5"
pyats.async==21.3; python_version >= "3.5"
pyats.connections==21.3; python_version >= "3.5"
pyats.datastructures==21.3; python_version >= "3.5"
pyats.easypy==21.3; python_version >= "3.5"
pyats.kleenex==21.3; python_version >= "3.5"
pyats.log==21.3; python_version >= "3.5"
pyats.reporter==21.3; python_version >= "3.5"
pyats.results==21.3; python_version >= "3.5"
pyats.tcl==21.3; python_version >= "3.5"
pyats.topology==21.3; python_version >= "3.5"
pyats.utils==21.3; python_version >= "3.5"
pyats==21.3; python_version >= "3.5"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.6.0"
pyftpdlib==1.5.6; python_version >= "3.5"
pynacl==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
pyserial==3.5
python-engineio==3.13.2; python_version >= "3.5"
python-socketio==4.6.0; python_version >= "3.5"
pyyaml==5.4.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
requests==2.15.1; python_version >= "3.5"
ruamel.yaml==0.16.12
scp==0.13.3
scrapli-cfg @ git+https://github.com/scrapli/scrapli_cfg.git@main ; python_version >= "3.6"
scrapli-netconf==2021.1.30; python_version >= "3.6"
scrapli==2021.7.30a1; python_version >= "3.6"
six==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
ssh2-python==0.26.0; python_version >= "3.6"
tenacity==7.0.0
textfsm==1.1.0; python_version >= "3.6" and python_version < "4.0"
tftpy==0.8.0; python_version >= "3.5"
tqdm==4.60.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
typing-extensions==3.7.4.3; python_version >= "3.6"
unicon.plugins==21.3; python_version >= "3.5"
unicon==21.3; python_version >= "3.5"
uvloop==0.15.2; python_version >= "3.7"
wcwidth==0.2.5; python_version >= "3.6"
xmltodict==0.12.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
yamllint==1.26.1; python_version >= "3.5"
yarl==1.6.3; python_version >= "3.6"
