<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Awesome network controller</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h2>{{ device.name }} ({{ device.host }}) - interfaces</h2>
    <table style="width:100%">
      <tr>
        <th>Interface name</th>
        <th>Description</th>
        <th>Enabled?</th>
        <th>Up?</th>
        <th>Switch on/off</th>
      </tr>
      {% for interface_name, interface in interfaces.items %}
      <form action="{% url 'device'  device.id %}" method="post" id="{{ interface_name }}">
        {% csrf_token %}
        <input type="hidden" value="{{ interface_name }}" name="interface_name" />
        <input type="hidden" value="{{ interface.is_enabled|yesno:'False,True' }}" name="enable" />
      </form>
      <tr>
        <td>{{ interface_name }}</td>
        <td>{{ interface.description }}</td>
        <td><input type="checkbox" {% if interface.is_enabled %}checked{% endif %}>&nbsp;</td>
        <td><input type="checkbox" {% if interface.is_up %}checked{% endif %}>&nbsp;</td>
        <td><button type="submit" form="{{ interface_name }}" value="Submit">Switch</button></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</body>
</html>